<header>

  <nav class="navbar sticky-top">

      <a class="navbar-brand">TalentVisual</a>

        <div class="dropdown">

            <button class="btn btn-trasparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                <i class="bi bi-person-fill"></i>

            </button>

            <ul class="dropdown-menu dropdown-menu-end">

                <li><a class="dropdown-item" href="#">Impostazioni</a></li>

                <li><a class="dropdown-item" href="#">Profilo</a></li>

                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item text-danger" href="#" appSafeLink>Esci</a></li>

            </ul>
        </div>
  </nav>

</header>