<h1>Welcome in TalentVisual!</h1>

<div class="container">
  <div class="bg">
    <nav>
      <div class="list-top">
        <a class="navbar-brand">Player list</a>
        <button type="button" class="btn"><i class="bi bi-plus-circle"></i></button>
      </div>
    </nav>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
  </div>
</div>
